{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Welcome back, {{ app.user.firstName }}</h3>
                        {% if app.user.twitterUsername %}
                            <h4><i class="fab fa-twitter"></i> {{ app.user.twitterUsername }}</h4>
                        {% endif %}
                        <a class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>COMMENTS</h3>
                    <h4>184</h4>
                </div>
                <div class="col-md-4 text-center">
                    <h3>ARTICLES READ</h3>
                    <h4>1,910</h4>
                </div>
                <div class="col-md-4 text-center">
                    <h3>LIKES</h3>
                    <h4>3,892</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
