{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Créer un nouvel article {% endblock %}


{% block body %}

    <h1 class="text-center">Créer un nouvel article</h1>
    <hr>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Créer'
    }) }}

{% endblock %}