{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <h1 class="text-center">Accueil</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://symfony.com/logos/symfony_black_03.png" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Mon article</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('news', {'slug': 'test'}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://symfony.com/logos/symfony_black_03.png" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Mon article</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('news', {'slug': 'test'}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://symfony.com/logos/symfony_black_03.png" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Mon article</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('news', {'slug': 'test'}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

